/* Create a webpage that has a section with a title and text, and a section with
recommendations consisting of a title and a list with three elements placed in
vertical.
7.1. When the browser occupies less than 600 pixels, it displays both the
content and the recommendations occupying the full width of the
browser, both with red background.
7.2. When the browser occupies more than 600 pixels but less than 800, it
shows the content occupying 60% of the width and green background, and the
recommendations occupying 30% and blue background.
7.3. When it occupies more than 800, it shows the content occupying 80% of the
width with purple background and the recommendations occupying 15%, with
yellow background.
7.4. The size of the text should vary, being 11 pixels when the browser
is less than 600 pixels wide, 12 pixels when it is between 600 and 800
pixels and 14 pixels when it is greater than 800 pixels. */

@media(max-width: 599px){
    body{
        background-color: red;
        font-size: 11px;
    }
}

@media(min-width:601px) and (max-width: 799px){
    body{
        font-size: 12px;
    }
    #primeraParte{
        width: 60%;
        background-color: green;
    }
    #segundaParte{
        width: 30%;
        background-color: blue;
    }
}

@media(min-width: 800px){
    body{
        font-size: 14px;
    }
    #primeraParte{
        width: 80%;
        background-color: violet;
    }
    #segundaParte{
        width: 15%;
        background-color: yellow;
    }
}