#h1Pagina1{
    color: red;
}

#pPagina1{
    color: white;
    background-color: black;
}

#footerPagina1{
    color: blue;
}

#h1Pagina2{
    color: brown;
}

#pPagina2{
    background-color: green;
}

#footerPagina2{
    color: purple;
}